# Xchangecored RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
datadir=/home/user/.Xchangecore
host=127.0.0.1

#mainnet default
port=9386

#testnet default
#port=19386

#regtest default
#port=19386

# bootstrap.dat hashlist settings (linearize-hashes)
# max_height=300

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=6d7c8b3f
genesis=00000b720c7944a2446d30dabd344fa4596787f728da752b2a36f6c01ec867fe
input=/home/user/.Xchangecore/blocks

# testnet
#netmagic=7f8e6aff
#genesis=000000000933ea01ad0ee984209779baaec3ced90fa3f408719526f8d77f4943
#input=/home/user/.Xchangecore/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/user/blockchain_directory
output_file=/home/user/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
